<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>Adithya Krishna</title>
		<meta name="description" content="Portfolio, Resume, portfolio, resume" />
		<meta name="keywords" content="Designer, wordpress, WordPress, Photoshop, Illustrator, photoshop, illustrator, graphics, adobe, web, developer, ui, ux, designer, resume, AKVS" />
		<meta name="author" content="Adithya Krishna Sharma, Adithya, AKVS, Adi, Krishna, Sharma, AK, thedevilx"/>
		<meta name="college" content="Jyothy Institute of Technology, JIT, SBV, MPUC, Mahesh Pu College"/>
		<meta name="place" content="Mangalore, Mangaluru, Bangalore, Bengaluru"/>
		
		<!--Favicon-->
		<link rel="shortcut icon" href="favicon.png">
		<link rel="icon" href="favicon.png" type="image/x-icon">
		
		<!--Fonts-->
		<link href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Hind:400,500,300,600' rel='stylesheet' type='text/css'>
		
		<!--CSS-->
		<link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>
	<body id="body" data-ng-app="contactApp">
		
		<!--Fixed Bg Image-->
		<div class="fixed-bg"></div>
		<div class="fixed-bg-overlay"></div>
		<!--/Fixed Bg Image-->
		
		<!--Preloader-->
		<div id="pre_load" class="preloader-it">
			<div id="la_anim" class="la-anim-1"></div>
		</div>
		<!--/Preloader-->
		
		<!--Container-->
		<div class="container-fluid">
			<div class="row">
				<div id="vertical_nav_wrap" class="col-lg-4 col-xs-12 pad-zero vertical-nav-wrap">
					
					<!--Navigation-->
					<nav class="navbar navbar-default vertical-nav" role="navigation">
						<div class="navbar-header">
							<button type="button" class="btn btn-default navbar-toggle" data-toggle="collapse" 
								data-target="#navbar_collapse">
							<span class="mask"></span>
							<span class="btn-label">
							<span class="pe-7s-menu"></span>
							</span>
							</button>
						</div>
						<div class="collapse navbar-collapse" id="navbar_collapse">
							<ul class="nav navbar-nav">
								<li><a data-scroll href="#body"></a><span>about</span></li>
								<!--<li><a data-scroll href="#services_sec"></a><span>services</span></li>-->
								<li><a data-scroll href="#skill_sec"></a><span>skills</span></li>
								<li><a data-scroll href="#work_sec"></a><span>work</span></li>
								<li><a data-scroll href="#edu_sec"></a><span>education</span></li>
								<li><a data-scroll href="#contact_sec"></a><span>contact</span></li>
								<!--<li><a data-scroll href="#exp_sec"></a><span>experience</span></li>
								<li><a data-scroll href="#client_sec"></a><span>clients</span></li>
								<li><a data-scroll href="#achivement_sec"></a><span>achivements</span></li>-->
								
							</ul>
						</div>
					</nav>
					<!--/Navigation-->
					
				</div>
				<div class="col-lg-8 col-xs-12 pad-zero">
					
					<!--Header-->
					<header>
						<div class="header-wrap col-lg-10 center-div">
							<div class="float-left name">
								<a data-scroll href="#body">
								<span>
								<b><h3>Adithya Krishna Sharma</h3></b>
								</span>
								</a>	
							</div>
							<div class="float-right social-download-wrap">
								<a href="https://drive.google.com/open?id=186LZi1rNLFmyUJ8JMYclC5VQHZ7sKJI8" class="btn btn-default float-left">
								<span class="mask"></span>
								<span class="btn-label">
								<b>download resume</b>
								<span class="icon pe-7s-download"></span>
								</span>
								</a>
							</div>
						</div>
						<div class="clearfix"></div>
					</header>
					<!--/Header-->
					
					<!--Main Content-->
					<div id="main_content" class="content-block margin-top-150 margin-top-sm-70 margin-top-xs-50">
					
						<!--Introduction Sec-->
						<section id="intro_content_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div intro-content-wrap sec-pad">
							<div class="person-img margin-bottom-xs"></div>
							<h1>
								Hey!<span id="typed"></span>
							</h1>
							<h6>
								about
							</h6>
							<p class="pad-bottom-35 wow fadeInUp" data-wow-duration=".6s">
								Computer Science engineering student having hands-on experience in Web Designing, Development (HTML, CSS, PHP) & Graphic Designing (Photoshop, Illustrator, InDesign, CorelDraw)
							</p>
							<p class="wow fadeInUp" data-wow-duration=".4s">
								I am a complete social person. Find me on <a class="goto-social" href="https://www.instagram.com/adiiikris/" target="_blank">Instagram</a> & <a href="https://www.facebook.com/adiiikris" class="goto-social" target="_blank">Facebook</a>. Experience my photography skills on my page in <a href="https://www.instagram.com/clixnpix/" class="goto-social" target="_blank">Clixnpix</a>.
								<br>Find my works on <a class="goto-social" href="https://www.behance.net/adikris" target="_blank">Behance</a>
							</p>
							<!--<div class="per-signature margin-top-sm wow fadeInUp" data-wow-duration=".4s">
								<img class="img-responsive" src="#" alt="signature"/>
							</div>-->
						</section>
						<!--/Introduction Sec-->
						
						<hr class="separater-hr"/>
						
						<!--WhatWeDo Sec-->
						<section id="services_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div services-icon-wrap  sec-pad-top sec-pad-bottom-xs">
							<h6>what i do</h6>
							<div class="row">
								<div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" data-wow-duration=".4s" data-wow-delay="0s">
									<span class="icon pe-7s-paint-bucket"></span>
									<span class="key-fact">
									LOGO & POSTER DESIGN		
									</span>
								</div>
								<div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" data-wow-duration=".4s" data-wow-delay=".1s">
									<span class="icon pe-7s-browser"></span>
									<span class="key-fact">
									WEB DESIGN & DEVELOPMENT <br>
									Incl. Wordpress Sites Also
									</span>
								</div>
								<div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" data-wow-duration=".4s" data-wow-delay=".2s">
									<span class=" icon pe-7s-vector"></span>
									<span class="key-fact">
									VECTOR DESIGN<br> (ADOBE ILLUSTRATOR)		
									</span>
								</div>
								<!--<div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" data-wow-duration=".4s" data-wow-delay=".3s">
									<span class="icon pe-7s-note2"></span>
									<span class="key-fact">
									DOCUMENTATION
									</span>
								</div>-->
							</div>
						</section>
						<!--/WhatWeDo Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Skills Sec-->
						<section id="skill_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div skills-wrap  sec-pad-top sec-pad-bottom-xs">
							<h6>technical skills</h6>
							<p class="wow fadeInUp" data-wow-duration=".4s">As a student, whenever I got bored I learnt new stuff and from there learnt Adobe Creative Cloud Apps which improved when i was in my college's digital design team, through trying my hands on various techniques (Lots of trial & errors and help from my friends) and software. Software is more than just a tool, and I try to dig deep into it. Today, I knack for critical thinking, creativity to create viable and impactful solutions using these technologies.</p>
							<div class="row margin-top-40">
								<div class="col-sm-5 margin-bottom-sm">
									<span class="progress-cat">HTML</span>
									<div class="progress-bar-graph">
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="60">
												<strong><i>60</i>%</strong>
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
									<span class="progress-cat">CSS</span>
									<div class="progress-bar-graph">
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="50">
												<strong><i>50</i>%</strong>
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-sm-5 margin-bottom-sm">
									<span class="progress-cat">Adobe Photoshop</span>
									<div class="progress-bar-graph">
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="65">
												<strong><i>65</i>%</strong>
												</span>	
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
									<span class="progress-cat">Adobe Illustrator & Corel Draw</span>
									<div class="progress-bar-graph">
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="70">
												<strong><i>70</i>%</strong>
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-sm-5 margin-bottom-sm">
									<span class="progress-cat"> Wordpress</span>
									<div class="progress-bar-graph">
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="50">
												<strong><i>50</i>%</strong>
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
									<span class="progress-cat"> PHP</span>
									<div class="progress-bar-graph">
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<div class="bar-wrap">
													<span data-width="30">
													<strong><i>30</i>%</strong>
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
						</section>
						<!--/Skills Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Work Sec-->
						<section id="work_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div work-wrap  sec-pad">
							<h6>work</h6>
							<div  class="portfolio-wrap project-gallery padding-sec-lg">
								<ul id="portfolio" class="portf auto-construct  project-gallery" data-col="2">
									<li  class="item"   data-src="img/mock1.jpg" data-sub-html="<h6>My Work 1</h6><p>A Corporate Website</p>" >
										<a href="https://duotech.in/">
										<img class="img-responsive" src="img/mock1.jpg"  alt="Image description" />
										<span class="hover-cap">Duotech Global Website</span>
										</a>
									</li>
									<li class="item" data-src="img/mock2.jpg"  data-sub-html="<h6>My Work 2</h6><p>A College Fest Website</p>">
										<a href="https://pranathi.in/">
										<img class="img-responsive" src="img/mock2.jpg"  alt="Image description" />
										<span class="hover-cap">Pranathi (College Fest Website)</span>
										</a>
									</li>
									<li  class="item"   data-src="img/mock3.jpg" data-sub-html="<h6>Ecommerce Site</h6><p>A Online Ecommerce Site For Pets & Supplies</p>" >
										<a href="http://urbanpetstore.in/">
										<img class="img-responsive" src="img/mock3.jpg"  alt="Image description" />
										<span class="hover-cap">Urban Pet Store (Online Ecommerce Site)</span>
										</a>
									</li>
									<li  class="item"   data-src="img/mock3.jpg" data-sub-html="<h6>A Seva/Trust Site</h6><p>GouSwarga-A Unit of Sri Ramachandrapura Mata</p>" >
										<a href="http://gouswarga.org/new/test">
										<img class="img-responsive" src="img/mock4.jpg"  alt="Image description" />
										<span class="hover-cap">GouSwarga - Sri Ramachandrapura Mata</span>
										</a>
									</li>
									
									<!--<li class="item" data-src="img/mock4.jpg" data-sub-html="<h6>UX PLATFORM</h6><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
										<a href="">
										<img class="img-responsive" src="img/mock4.jpg"  alt="Image description" />
										<span class="hover-cap">UX PLATFORM</span>
										</a>
									</li>
									<li class="item" data-src="http://vimeo.com/1084537" data-poster="img/mock3.jpg" data-sub-html="<h6>MONOBRANDING</h6><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
										<a href="">
										<img class="img-responsive" src="img/mock3.jpg"  alt="Image description" />
										<span class="hover-cap">MONOBRANDING</span>
										</a>
									</li>
									<li class="item" data-src="img/mock5.jpg" data-sub-html="<h6>FALL/WINTER</h6><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
										<a href="">
										<img class="img-responsive" src="img/mock5.jpg"  alt="Image description" />	
										<span class="hover-cap">FALL/WINTER</span>
										</a>
									</li>
									<li class="item" data-html="#video1" data-poster="img/mock6.jpg" data-sub-html="<h6>FANTASTIC MAN</h6><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
										<a href="">
										<img class="img-responsive" src="img/mock6.jpg"  alt="Image description" />
										<span class="hover-cap">FANTASTIC MAN</span>
										</a>
									</li>-->
								</ul>
								<!-- Hidden video div -->
								<!--<div style="display:none;" id="video1">
									<video class="lg-video-object lg-html5 video-js vjs-default-skin" controls preload="none">
										<source src="videos/video1.mp4" type="video/webm">
										<source src="videos/video1.webm" type="video/webm">
										Your browser does not support HTML5 video.
									</video>
								</div>-->
							</div>
						</section>
						<!--/Work Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Qualfication Sec-->
						<section id="edu_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div education-wrap  sec-pad">
							<h6>education</h6>
							<p class="wow fadeInUp" data-wow-duration=".4s">
								I spend most of my free time learning Web Design & Development and also Editing / Graphic Designing. I am pursuing my Bachelor degree in Computer Science and Engineering. I think one should never stop learning and go through a process of acquiring knowledge.
							</p>
							<div class="qualfication-wrap">
								<div class="qualfication first-row wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>1</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">2007-2015</span>
									</div>
									<div class="col-sm-5">
										<span class="insti vertical-align-pad">Shree Bharathi Vidyalaya, Bengaluru</span>
									</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
										School
										</span>
									</div>
								</div>
								<div class="qualfication wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>2</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">2015-2017</span>
									</div>
									<div class="col-sm-5">
										<span class="insti vertical-align-pad">Mahesh PU College, Bengaluru</span>
									</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
										P.U.C
										</span>
									</div>
								</div>
								<div class="qualfication wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>3</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">2012-2021</span>
									</div>
									<div class="col-sm-5">
										<span class="insti vertical-align-pad">Jyothy Institute of Technology</span>
									</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
										Bachelor of Engineering (CSE)
										</span>
									</div>
								</div>
							</div>
						</section>
						<!--/Qualfication Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Experience Sec
						<section id="exp_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div experience-wrap  sec-pad">
							<h6>experience</h6>
							<div class="exp-timeline-wrap">
								<div class="row exp-timeline timeline-active">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0s">
												<div class="col-sm-3 duration"><span>mar 2014 - present</span></div>
												<div class="col-sm-9">
													<span class="job-desn">UI Developer</span>
													<span class="job-loc">Fakebook Studio, New York
													</span>
													<p class="job-summary p-small">In this small yet expanding company, I had the opportunity to turn my passion for the web in a job right after graduation. Being the only designer in the company I have often dealt with the whole process of designing for our customers.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row exp-timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0.2s">
												<div class="col-sm-3 duration"><span>Jul 2013 — Mar 2014</span></div>
												<div class="col-sm-9">
													<span class="job-desn">Visual Communication Designer</span>
													<span class="job-loc">Dropzone, NYC
													</span>
													<p class="job-summary p-small">Being in a very well structured company, with clear and defined work procedures, helped me grow both personally and professionally, as well as enjoying a young and international working environment. I had the opportunity to redefine the way I work in a more intelligent way.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row exp-timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0.4s">
												<div class="col-sm-3 duration"><span>Jan 2013 – Jul 2013</span></div>
												<div class="col-sm-9">
													<span class="job-desn">Web Publishing
													</span>
													<span class="job-loc">Daisystreet, NYC
													</span>
													<p class="job-summary p-small">Being the first design agency in my career and being one among the best in New York, I've learned to be proficient in a fast-paced work environment.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row exp-timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0.6s">
												<div class="col-sm-3 duration"><span>Oct 2011 – Jan 2013</span></div>
												<div class="col-sm-9">
													<span class="job-desn">Intern Developer
													</span>
													<span class="job-loc">Oxwalk Ducks, California
													</span>
													<p class="job-summary p-small">Create frameworks to guide critical thinking, to streamline the ideation process and to visualize complex concepts. Uses various graphic approaches to make complex ideas more tangible.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						/Experience Sec-->
						
						<hr class="separater-hr"/>
						
						<!--CLIENT & ACHIEVEMENTS EXTRA PLACE-->
						
						<hr class="separater-hr"/>
						
						<!--Contact Sec-->
						<section id="contact_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div contact-wrap sec-pad">
							<h6>contact</h6>
							<div data-ng-controller="ContactController" class="align-center wow fadeInUp" data-wow-duration=".4s">
								<h3>Don't be a <span  data-ng-bind="formData.inputName||'stranger'"></span>, say Hello  :)</h3>
								<div>
									<form data-ng-submit="submit(contactform, $event)"  name="contactform"  method="post" class="row form-horizontal" role="form">
										<div class="form-group input--hoshi col-sm-6" data-ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
											<div class="input-wrap">
												<input autocomplete="off" data-ng-model="formData.inputName" type="text" class="form-control input__field input input__field--hoshi" id="inputName" name="inputName" placeholder="Name" required>
												<label class="input__label input__label input__label--hoshi input__label--hoshi-color-1 input__label--hoshi input__label--hoshi-color-1" ></label>
											</div>
										</div>
										<div class="form-group  input--hoshi col-sm-6" data-ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
											<div class="input-wrap">
												<input autocomplete="off" data-ng-model="formData.inputEmail" type="email" class="form-control input input__field input__field--hoshi" placeholder="Email" id="inputEmail" name="inputEmail" required>
												<label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
											</div>
										</div>
										<div class="form-group  input--hoshi col-sm-12" data-ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
											<div class="input-wrap">
												<textarea data-ng-model="formData.inputMessage" class="form-control input input__field input__field--hoshi" rows="4" id="inputMessage" name="inputMessage" placeholder="message" required></textarea>
												<label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
											</div>
										</div>
										<div class="form-group col-sm-12">
											<div class="align-center">
												<button type="submit" class="btn btn-default" data-ng-disabled="submitButtonDisabled">
												<span class="mask"></span>
												<span>send message</span>
												</button>
											</div>
										</div>
									</form>
									<p data-ng-class="result">{{ resultMessage }}</p>
								</div>
							</div>
							<div class="email-direct">
								<p class="wow fadeInRight" data-wow-duration=".4s">Or simply email me at <a href="mailto:aadithya794@gmail.com">aadithya794@gmail.com</a></p>
							</div>
						</section>
						<!--Contact Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Footer-->
						<footer class="col-lg-10 col-md-11 col-sm-11 center-div contact-wrap  sec-pad">
							<div class="row">
								<div class="col-sm-6 available-wrap">
									<span class="available-pointer"></span>
									<span class="available-tag">Available for Freelance Projects.</span>
								</div>
								<div class="col-sm-6">
									<div class="social-icons-wrap float-right">
										
										<!--Social Icons-->
										<ul class="social-icons float-right">
											<li>
												<a href="www.linkedin.com/in/adiiikris" class="social-icon">
												<span class="fa" data-hover="&#xf08c;">&#xf08c;</span>
												</a>
											</li>
											<li>
												<a href="https://www.facebook.com/adiiikris" class="social-icon">
												<span class="fa" data-hover="&#xf09a;">&#xf09a;</span>
												</a>
											</li>
											<li>
												<a href="https://www.instagram.com/adiiikris/" class="social-icon">
												<span class="fa" data-hover="&#xf16d;">&#xf16d;</span>
												</a>
											</li>
											<li>
												<a href="https://twitter.com/adii_kris" class="social-icon">
												<span class="fa" data-hover="&#xf099;">&#xf099;</span>
												</a>
											</li>
											<li>
												<a href="https://www.behance.net/adikris" class="social-icon">
												<span class="fa" data-hover="&#xf1b4;">&#xf1b4;</span>
												</a>
											</li>
										</ul>
										<!--/Social Icons-->
									
									</div>
									<div class="goto-top text-right float-right">
										<a data-scroll href="#body">
										<span data-hover="top">
										top
										</span>
										</a>
									</div>
									<div class="copywrite-wrap text-right float-right">
										<p class="copywrite">Created by <b>Adithya Krishna<br> &copy; 2020.</b></p>
									</div>
								</div>
							</div>
						</footer>
						<!--/Footer-->
						
					</div>
					<!--/Main Content-->
					
				</div>
			</div>
			<!--Hello-->
		</div>
		<!-- /Container -->
		
		<!-- Scripts -->
		<script src="js/jquery-1.12.4.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/modernizr.custom.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/jquery.placeholder.js"></script>
		<script src="js/smooth-scroll.js"></script>
		<script src="js/countTo.js"></script>
		<script src="js/jQuery.appear.js"></script>
		<script src="js/isotope.js"></script>
		<script src="js/typed.js"></script>
		<script src="js/lightgallery-all.js"></script>
		<script src="js/jquery.mousewheel.min.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/froogaloop2.min.js"></script>
		<script src="js/wow.min.js"></script>
		<script src="js/init.js"></script>
	</body>
</html>
